<!DOCTYPE html>
<html>
  <head>
    <title><express + passport ></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (!user) { %>
      <a href='/login'> Login </a>
    <% } else { %>
      <p> Welcome to <%= user %></p>
      <a href='/logout'> Logout </a>
    <% } %>
  </body>
</html>
